<%- include('layout/header') %>
<div class="container-sm">
    <h3 class="fs-4 bg-light py-2 ps-2 mb-4 border-bottom border-5 border-success">Add a new book </h3>
    <form method="POST" action="/api/books/addbook" id="add-form" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="title" required>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" name="author" placeholder="author" required>
    </div>
    <div class="mb-3">
        <label for="isbn" class="form-label">ISBN</label>
        <input type="text" class="form-control" id="isbn" name="isbn" placeholder="isbn" required>
    </div>
    <div class="mb-3">
        <label for="imagefile" class="form-label">Image</label>
        <input class="form-control" type="file" id="imagefile" name="imagefile" required>
    </div>      
    <button type="submit" class="btn btn-primary mb-3">Add new book</button>
    </form>
</div>
<%- include('layout/footer') %>